<%= form_with(model: @park, local: true) do |form| %>
  <div class="field">
    <%= form.label :info %>
    <%= form.text_area :info %>
  </div>
  <div class="actions">
    <%= form.submit "Update" %>
  </div>
<% end %>
<%= button_to 'Delete', @park, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>