<div class="user-detail">
  <div class="posts">
    <% @user.posts.order(created_at: :desc).each do |post| %>
      <div class="post">
        <div class="post-header">
          <%= link_to post.park.name, park_path(post.park), class: 'post-park' %>
          <span class="post-info">Posted by <%= link_to post.user.username, user_path(post.user), class: 'post-user' %> <%= time_ago_in_words(post.created_at) %> ago</span>
        </div>
        <h2><%= link_to post.title, post_path(post), class: "ustitle" %></h2>
        <p class="post-content"><%= markdown(truncate(post.content, length: 300)) %></p>

        <div class="comments">
          <h3>Comments</h3>
          <div class="comment-input">
            <!-- comment form goes here -->
          </div>
          <% post.comments.order(created_at: :desc).each do |comment| %>
            <div class="comment">
              <!-- comment display goes here -->
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'users/profile', user: @user %>
</div>