<div class="edit-profile-form">
  <h1>Edit Profile</h1>

  <%= form_with(model: @user_profile, local: true) do |form| %>
    <%= render 'user_profiles/errors', object: @user_profile %>

    <div class="field">
      <%= form.label :nickname %>
      <%= form.text_field :nickname %>
    </div>

    <div class="field">
      <%= form.label :intro %>
      <%= form.text_area :intro %>
    </div>

    <div class="field">
      <%= form.label :avatar %>
      <%= form.file_field :avatar, onchange: "previewAvatar(this)" %>
      <div id="current-avatar-preview">
        <% if @user_profile.avatar.attached? %>
          <%= image_tag @user_profile.avatar.variant(resize_to_limit: [150, 150]), id: "current-avatar" %>
        <% else %>
          <p>No current avatar</p>
        <% end %>
      </div>
      <div id="new-avatar-preview"></div>
    </div>

    <div class="actions">
      <%= form.submit class: "update-profile-button"%>
    </div>
  <% end %>
</div>