<div class="post-form">
  <h1>Create a post</h1>

  <%= form_with(model: @post, local: true) do |form| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="post-park">
      <%= form.label :park_id, "Park" %>
      <%= form.collection_select :park_id, Park.all, :id, :name, {}, { class: "form-control", id: "post-park-dropdown" } %>
    </div>

    <div class="post-title">
      <%= form.text_area :title, placeholder: 'Title', rows: 1, maxlength: 300, id: 'title-input' %>
      <span id="title-count">0/300</span>
    </div>

    <div class="post-field">
      <%= form.text_area :content, id: 'editor' %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <%= link_to 'Back', root_path %>
</div>