<div class="posted-details">
  <div class="posted-header">
    <h2><%= link_to @post.park.name, @post.park %></h2>
    <p class="posted-info">
      Posted by <%= link_to @post.user.username, @post.user, class: "username" %> <%= time_ago_in_words(@post.created_at) %> ago
    </p>
  </div>
  <h1><%= @post.title %></h1>
  <div class="posted-textarea" id="post-<%= @post.id %>">
    <div class="content-display">
      <%= markdown(@post.content) %>
      <%= link_to 'Edit', '#', class: 'toggle-edit-form' %>
    </div>
    <div class="edit-form" style="display: none;">
      <%= render 'post_edit', post: @post %>
    </div>
  </div>
  <%= link_to '投稿削除', @post, method: :delete, data: { confirm: 'Are you sure?' } %>

  <div class="comment-form">
    <h3>Post a Comment</h3>
    <%= render 'comments/form', comment: Comment.new, post: @post %>
  </div>

  <div class="comments-list" id="comments">
    <h3>Comments</h3>
    <% @post.comments.each do |comment| %>
      <div class="comment-wrapper">
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back', posts_path %>
</div>