<div class="posted-details">
  <div class="posted-header">
    <h2><%= link_to @post.park.name, @post.park %></h2>
    <p class="posted-info">
      Posted by <%= link_to @post.user.username, @post.user, class: "username" %> <%= time_ago_in_words(@post.created_at) %> ago
    </p>
  </div>
  <h1><%= @post.title %></h1>
  <div class="post-textarea">
    <%= markdown(@post.content) %>
  </div>
</div>

<%# The comment form, to be implemented later %>
<div class="comment-form">
  <h3>Post a Comment</h3>
  <%= render 'comments/form', comment: Comment.new, post: @post %>
</div>

<%# The comments list, to be implemented later %>
<div class="comments-list">
  <h3>Comments</h3>
  <%= render @post.comments %>
</div>

<%= link_to 'Edit', edit_park_path(@post.park) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', posts_path %>