<main class="content">
  <% if user_signed_in? %>
    <%= link_to '新規投稿', new_post_path, class: 'content__new-post-button' %>
  <% end %>
  <div class="content__post-list">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="posted-details">
          <div class="posted-header">
            <h3><%= link_to post.park.name, post.park %></h3>
            <p class="posted-info">
              Posted by <%= link_to post.user.username, post.user, class: "username" %> <%= time_ago_in_words(post.created_at) %> ago
            </p>
          </div>
          <div class="posted-title">
          <h2><%= post.title %></h2>
          </div>
          <div class="posted-textarea" id="post-<%= post.id %>">
            <div class="content-display">
              <%= markdown(post.content) %>
              <%= link_to 'Edit', '#', class: 'toggle-edit-form' %>
            </div>
            <div class="edit-form" style="display: none;">
              <%= render 'post_edit', post: post %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>