<header class="header">
    <div class="header__logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", alt: "Codenyan logo" %>
        <% end %>
    </div>
    <div class="header__dropdown-container">
      <div class="select-label">Select Options</div>
      <div class="header__dropdown">
        <button class="dropdown-button"><%= @current_park_name || "Home" %></button>
        <div id="dropdown-content" class="dropdown-content" style="display: none;">
          <input type="text" id="search" placeholder="Filter">
          <div class="dropdown-section-title">YOUR PARKS</div>
          <%= link_to 'パーク作成', new_park_path, class: 'dropdown-item' %>
          <% if user_signed_in? %>
            <% current_user.parks.each do |park| %>
              <%= link_to park.name, park_path(park), class: 'dropdown-item' %>
            <% end %>
          <% end %>
          <div class="dropdown-section-title">OTHER</div>
          <% if user_signed_in? %>
            <%= link_to 'ユーザー設定', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'プロフィール設定', edit_user_profile_path, class: 'dropdown-item' %>
          <% end %>
          <%= link_to 'Home', root_path, class: 'dropdown-item' %>
        </div>
      </div>
    </div>
    <div class="header__search">
        <%= form_with url: "/search", method: :get, html: { class: "search-form" } do |f| %>
            <%= f.text_field :q, placeholder: "Search..." %>
        <% end %>
        <div id="search-results" style="display: none;"></div>
    </div>
    <div class="header__icons">
        <a href="#"><img class="talk-icon" src="<%= asset_path 'talk-icon.png' %>" alt="Talk Icon"></a> <!-- talk functionality to be implemented -->
        <a href="#"><img class="notification-icon" src="<%= asset_path 'notification-icon.png' %>" alt="Notification Icon"></a> <!-- notification functionality to be implemented -->
    </div>
    <div class="header__profile">
      <% if user_signed_in? && current_user.user_profile %>
        <% if current_user.user_profile.avatar.attached? %>
          <%= image_tag current_user.user_profile.avatar, alt: "User avatar" %>
        <% else %>
          <%= image_tag 'default_avatar.png', alt: "Default avatar" %>
        <% end %>
        <span><%= current_user.username %></span>
      <% else %>
        <%= image_tag 'default_avatar.png', alt: "Guest avatar" %>
        <span>Guest</span>
      <% end %>
    </div>
    <div class="header__auth">
      <% if user_signed_in? %>
        <%= link_to '登録情報編集', edit_user_registration_path %>
        <%= link_to 'プロフィール', edit_user_profile_path, class: 'button' %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to '新規登録', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
    </div>
</header>