<!DOCTYPE html>
<html>
  <head>
    <title>Codenyan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'avatar_preview' %>
    <%= javascript_pack_tag 'header_dropdown', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'search', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'join_leave' %>
    <%= javascript_pack_tag 'post_title_scroll' %>
    <%= javascript_pack_tag 'post_title_count', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'post_edit' %>
    <%= javascript_pack_tag 'comment_ajax' %>
    <%= javascript_pack_tag 'comment_edit' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if user_signed_in? %>
      <%= link_to 'プロフィール', edit_user_profile_path, class: 'button' %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <%= link_to '登録情報編集', edit_user_registration_path %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <%= link_to '新規登録', new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>